html {
  background-color: rgb(240, 240, 241);
}

.App {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  margin: auto;
  text-align: center;
  justify-items: center;
  white-space: pre-line;
  flex-direction: column;
  max-width: 500px;

  /* todo it would be better to use a media query for ><500px and then use max-width:100% for <500px
  @media (max-width: 500px) {

}

@media (min-width: 501px) {

}
 */
}

.buttons {
  display: flex;
  flex-direction: column;
}

.stats {
  padding: 10px;
  justify-content: space-around;
  white-space: pre;
  margin: auto;
}

.stat {
  text-align: right;
}

.statName {
  font-weight: bold;
  padding-left: 15px;
}

.description {
  padding: 20px;
}

.connection,
.close {
  background-color: rgb(110, 121, 158);
  border-color: rgb(110, 121, 158);
  color: rgb(240, 240, 241);
}

.item,
.inventory {
  background-color: rgb(38, 36, 129);
  border-color: rgb(38, 36, 129);
  color: rgb(240, 240, 241);
}

.item-action {
  background-color: rgb(38, 36, 129);
  border-color: rgb(38, 36, 129);
  color: rgb(240, 240, 241);
  border-width: 5px 15px;
}

button {
  border-radius: 5px;
  border: 1px solid;
  padding: 10px;
  font-size: medium;
  margin: 5px;
  text-transform: capitalize;
}

button:disabled {
  opacity: 0.2;
  color: white;
  touch-action: none;
}

.inventoryItem {
  border-width: 1px 0 1px 0;
  border-color: black;
  border-style: solid;
  padding: 5px 0;
}

.inventoryItem:first-child {
  border-width: 4px 0 1px 0;
  border-color: black;
  border-style: solid;
}

.inventoryItem:last-child {
  border-width: 1px 0 2px 0;
  border-color: black;
  border-style: solid;
}

#non-game {
  display: flex;
  justify-content: center;
}

#restart {
  background-image: url("./images/new_game_icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 0;
  width: 40px;
  height: 40px;
  margin: 10px 30px;
}

#info {
  background-image: url("./images/info_icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  width: 40px;
  height: 40px;
  margin: 10px 30px;
}
