html {
  background-color: rgb(240, 240, 241);
}

.App {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  margin: auto;
  text-align: center;
  justify-items: center;
  white-space: pre-line;
  flex-direction: column;
  max-width: 500px;

  /* todo it would be better to use a media query for ><500px and then use max-width:100% for <500px
  @media (max-width: 500px) {

}

@media (min-width: 501px) {

}
 */
}

.buttons {
  display: flex;
  flex-direction: column;
}

.stats {
  padding: 10px;
  justify-content: space-around;
  white-space: pre;
  margin: auto;
}

.stat {
  text-align: right;
}

.statName {
  font-weight: bold;
  padding-left: 15px;
}

.description {
  padding: 20px;
}

.connection,
.close {
  background-color: rgb(110, 121, 158);
  border-color: rgb(110, 121, 158);
  color: rgb(240, 240, 241);
}

.item,
.inventory {
  background-color: rgb(38, 36, 129);
  border-color: rgb(38, 36, 129);
  color: rgb(240, 240, 241);
}

.item-action {
  background-color: rgb(38, 36, 129);
  border-color: rgb(38, 36, 129);
  color: rgb(240, 240, 241);
  border-width: 5px 15px;
}

button {
  border-radius: 5px;
  border: 1px solid;
  padding: 10px;
  font-size: medium;
  margin: 5px;
  text-transform: capitalize;
}

button:disabled {
  opacity: 0.2;
  color: white;
  touch-action: none;
}

.inventoryItem {
  border-width: 1px 0 1px 0;
  border-color: black;
  border-style: solid;
  padding: 5px 0;
}

.inventoryItem:first-child {
  border-width: 4px 0 1px 0;
  border-color: black;
  border-style: solid;
}

.inventoryItem:last-child {
  border-width: 1px 0 2px 0;
  border-color: black;
  border-style: solid;
}

#non-game {
  display: flex;
  justify-content: center;
}

#non-game > button {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  width: 40px;
  height: 40px;
  margin: 10px 30px;
}

#restart {
  background-image: url("./images/new_game_icon.svg");
}

#info {
  background-image: url("./images/info_icon.svg");
}

.showMap.true {
  background-image: url("./images/list.svg");
}

.showMap.false {
  background-image: url("./images/compass.svg");
}

#map {
  display: grid;
  border: 1px solid black;
  grid-template-columns: 50px 1fr 50px;
  grid-template-rows: 50px 1fr 50px;
}

#N {
  grid-column-start: 2;
  grid-row-start: 1;
}

#W {
  grid-column-start: 1;
  grid-row-start: 2;
  transform: rotate(180deg);
}

#W > p {
  writing-mode: vertical-lr;
}

#E {
  grid-column-start: 3;
  grid-row-start: 2;
}

#E > p {
  writing-mode: vertical-lr;
}

#S {
  grid-column-start: 2;
  grid-row-start: 3;
}

#A {
  grid-column-start: 2;
  grid-row-start: 2;
  margin: 20px;
}

#map > .connection {
  padding: 0;
  margin: 0;
}

#map > #A > .connection {
  border-radius: 50%;
}

#map > .connection > p {
  padding: 0;
  margin: 0;
}

#map > #A > button {
  border-radius: 50%;
  padding: 10px;
  background-origin: content-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;

}

#map > #A > #lute {
  background-image: url("./images/lute.svg");
}
#map > #A > #baby {
  background-image: url("./images/baby.svg");
}
#map > #A > #berries {
  background-image: url("./images/berries.svg");
}
#map > #A > #clothes {
  background-image: url("./images/clothes.svg");
}
#map > #A > #handkerchief {
  background-image: url("./images/handkerchief.svg");
}
#map > #A > #horse {
  background-image: url("./images/horse.svg");
}
#map > #A > #score {
  background-image: url("./images/score.svg");
}
#map > #A > #sword {
  background-image: url("./images/sword.svg");
}
#map > #A > #treasure {
  background-image: url("./images/treasure.svg");
}
#map > #A > #apple {
  background-image: url("./images/apple.svg");
}
#map > #A > #wizard {
  background-image: url("./images/wizard.svg");
}
#map > #A > #blacksmith {
  background-image: url("./images/blacksmith.svg");
}
#map > #A > #youth {
  background-image: url("./images/youth.svg");
}
#map > #A > #squirrel {
  background-image: url("./images/squirrel.svg");
}