html,
body,
#root {
  background-color: rgb(240 240 241);
  height: 100vh;
}

.App {
  --default-font-size: min(0.7cm, 5vmin);

  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  text-align: center;
  justify-items: center;
  white-space: pre-line;
  flex-direction: column;
  height: 95%;
  font-size: var(--default-font-size);
}

h1 {
  font-size: calc(var(--default-font-size) * 2);
  margin-block-end: 0;
}

small {
  font-size: calc(var(--default-font-size) * 0.6);
}

button {
  border-radius: 5px;
  border: 1px solid;
  padding: 10px;
  margin: 5px;
  text-transform: capitalize;
  font-size: var(--default-font-size);
}

button:disabled {
  opacity: 0.2;
  color: white;
  touch-action: none;
}

#location-display {
  display: grid;
  grid-template-areas:
    "controls"
    "stats"
    "description"
    "navigation"
    "non-navigation-buttons";
  grid-template-rows: auto auto 1fr auto auto;
}

#inventory-display {
  display: grid;
  grid-template-areas:
    "description"
    "inventoryItems"
    "non-navigation-buttons";
  grid-template-rows: auto 1fr auto;
}

#consequence-display {
  display: grid;
  grid-template-areas:
    "description"
    "non-navigation-buttons";
  grid-template-rows: 1fr auto;
}

#gameOver-display {
  display: grid;
  grid-template-areas:
    "stats"
    "description"
    "non-navigation-buttons";
  grid-template-rows: auto 1fr auto;
}

#non-navigation-buttons {
  grid-area: non-navigation-buttons;
  display: flex;
  flex-direction: column;
  width: 90vw;
  align-items: center;
}

#navigation {
  grid-area: navigation;
  display: flex;
  flex-direction: column;
  width: 90vw;
  align-items: center;
}

.navigation-list > button {
  width: 90vw;
}

#non-navigation-buttons > button {
  width: 90vw;
}

.buttons {
  display: flex;
  flex-direction: column;
}

#stats {
  white-space: pre;
  grid-area: stats;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90vw;
  align-items: center;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  padding: 5px 0;
}

.stat {
  text-align: right;
  display: flex;
  flex-direction: row;
}

.statName {
  font-weight: bold;
}

.description {
  grid-area: description;
  padding: 20px 0;
  align-self: center;
}

.connection,
.close {
  background-color: rgb(110 121 158);
  border-color: rgb(110 121 158);
  color: rgb(240 240 241);
}

.item,
.inventory {
  background-color: rgb(38 36 129);
  border-color: rgb(38 36 129);
  color: rgb(240 240 241);
}

.item-action {
  background-color: rgb(38 36 129);
  border-color: rgb(38 36 129);
  color: rgb(240 240 241);
  border-width: 5px 15px;
}

.inventoryItem {
  border-width: 1px 0;
  border-color: black;
  border-style: solid;
  padding: 5px 0;
}

.inventoryItem:first-child {
  border-width: 4px 0 1px;
  border-color: black;
  border-style: solid;
}

.inventoryItem:last-child {
  border-width: 1px 0 2px;
  border-color: black;
  border-style: solid;
}

#controls {
  display: flex;
  grid-area: controls;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: fit-content;
}

#controls > button {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  width: min(1cm, min(4vmax, 7vmin));
  height: min(1cm, min(4vmax, 7vmin));
  padding: 1px 6px;
}

#restart {
  background-image: url("./images/new_game_icon.svg");
}

#share {
  background-image: url("./images/share.svg");
}

#install {
  background-image: url("./images/install.svg");
}

#info {
  background-image: url("./images/info_icon.svg");
}

.showMap.true {
  background-image: url("./images/list.svg");
}

.showMap.false {
  background-image: url("./images/compass.svg");
}

.showPhoto.true {
  background-image: url("./images/no-photo.svg");
}

.showPhoto.false {
  background-image: url("./images/photo.svg");
}

#map {
  display: grid;
  border: 1px solid rgb(110 121 158);
  border-radius: 5px;
  grid-template-columns: 10vw 70vw 10vw;
  grid-template-rows: 10vw 70vw 10vw;
  margin: 5px;
  width: fit-content;
}

#N {
  grid-column-start: 2;
  grid-row-start: 1;
}

#W {
  grid-column-start: 1;
  grid-row-start: 2;
  transform: rotate(180deg);
}

#W > p {
  writing-mode: vertical-lr;
}

#E {
  grid-column-start: 3;
  grid-row-start: 2;
}

#E > p {
  writing-mode: vertical-lr;
}

#S {
  grid-column-start: 2;
  grid-row-start: 3;
}

#A {
  grid-column-start: 2;
  grid-row-start: 2;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#A.room,
.listNavigationImage.room {
  background-image: url("./images/room.png");
}

#A.wardrobe,
.listNavigationImage.wardrobe {
  background-image: url("./images/wardrobe.png");
}

#A.inn,
.listNavigationImage.inn {
  background-image: url("./images/inn.png");
}

#A.fountain,
.listNavigationImage.fountain {
  background-image: url("./images/fountain.png");
}

#A.nursery,
.listNavigationImage.nursery {
  background-image: url("./images/nursery.png");
}

#A.wizard,
.listNavigationImage.wizard {
  background-image: url("./images/wizard.png");
}

#A.stream,
.listNavigationImage.stream {
  background-image: url("./images/stream.png");
}

#A.youth,
.listNavigationImage.youth {
  background-image: url("./images/youth.png");
}

#A.squirrel,
.listNavigationImage.squirrel {
  background-image: url("./images/squirrel.png");
}

#A.squirrelDead,
.listNavigationImage.squirrelDead {
  background-image: url("./images/squirrel.png");
}

#A.smithy,
.listNavigationImage.smithy {
  background-image: url("./images/smithy.png");
}

#A.gate,
.listNavigationImage.gate {
  background-image: url("./images/gate.png");
}

#A.nurseryWindow,
.listNavigationImage.nurseryWindow {
  background-image: url("./images/nurseryWindow.png");
}

#A.blacksmith,
.listNavigationImage.blacksmith {
  background-image: url("./images/blacksmith.png");
}

#A.cliff,
.listNavigationImage.cliff {
  background-image: url("./images/cliff.png");
}

#A.clearing,
.listNavigationImage.clearing {
  background-image: url("./images/clearing.png");
}

#A.mirror,
.listNavigationImage.mirror {
  background-image: url("./images/mirror.png");
}

#A.window,
.listNavigationImage.window {
  background-image: url("./images/window.png");
}

#A.lair,
.listNavigationImage.lair {
  background-image: url("./images/lair.png");
}

#A.lawnFire,
.listNavigationImage.lawnFire {
  background-image: url("./images/lawnFire.png");
}

#A.lawnNoFire,
.listNavigationImage.lawnNoFire {
  background-image: url("./images/lawnNoFire.png");
}

#A.road,
.listNavigationImage.road {
  background-image: url("./images/road.png");
}

#A.dung,
.listNavigationImage.dung {
  background-image: url("./images/dung.png");
}

#A.puddle,
.listNavigationImage.puddle {
  background-image: url("./images/puddle.png");
}

#A.crevice,
.listNavigationImage.crevice {
  background-image: url("./images/crevice.png");
}

#A.defecatory,
.listNavigationImage.defecatory {
  background-image: url("./images/defecatory.png");
}

#A.caveEntrance,
.listNavigationImage.caveEntrance {
  background-image: url("./images/caveEntrance.png");
}

#A.entrywayFire,
.listNavigationImage.entrywayFire {
  background-image: url("./images/entrywayFire.png");
}

#A.entrywayNoFire,
.listNavigationImage.entrywayNoFire {
  background-image: url("./images/entrywayNoFire.png");
}

#A.pasture,
.listNavigationImage.pasture {
  background-image: url("./images/pasture.png");
}

#A.courtyard,
.listNavigationImage.courtyard {
  background-image: url("./images/courtyard.png");
}

.listNavigationImage {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 50vw;
  height: 50vw;
}

#map > .connection {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#map > .connection > p {
  padding: 0;
  margin: 0;
}

#map > #A > button {
  border-radius: 50%;
  padding: 10px;
  background-origin: content-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
}

#map > #A > #lute {
  background-image: url("./images/lute.svg");
}

#map > #A > #baby {
  background-image: url("./images/baby.svg");
}

#map > #A > #berries {
  background-image: url("./images/berries.svg");
}

#map > #A > #clothes {
  background-image: url("./images/clothes.svg");
}

#map > #A > #handkerchief {
  background-image: url("./images/handkerchief.svg");
}

#map > #A > #horse {
  background-image: url("./images/horse.svg");
}

#map > #A > #score {
  background-image: url("./images/score.svg");
}

#map > #A > #sword {
  background-image: url("./images/sword.svg");
}

#map > #A > #treasure {
  background-image: url("./images/treasure.svg");
}

#map > #A > #apple {
  background-image: url("./images/apple.svg");
}

#map > #A > #wizard {
  background-image: url("./images/wizard.svg");
}

#map > #A > #blacksmith {
  background-image: url("./images/blacksmith.svg");
}

#map > #A > #youth {
  background-image: url("./images/youth.svg");
}

#map > #A > #squirrel {
  background-image: url("./images/squirrel.svg");
}

/* Wider screen */
@media (min-width: 600px) {
  .App {
    max-width: 60vw;
    margin: auto;
  }

  #non-navigation-buttons,
  #navigation,
  #stats,
  .description {
    width: 60vw;
  }

  .navigation-list > button {
    width: 60vw;
  }

  #non-navigation-buttons > button {
    width: 60vw;
  }

  #map {
    grid-template-columns: 5vw 30vw 5vw;
    grid-template-rows: 5vw 30vw 5vw;
  }
}

/* Wide and tall screen */
@media (min-width: 800px) and (min-height: 600px) {
  #map {
    grid-template-columns: 5vmin 30vmin 5vmin;
    grid-template-rows: 5vmin 30vmin 5vmin;
  }

  .navigation-list > button,
  #non-navigation-buttons > button {
    width: 40vmin;
  }
}
